*{
    font-family: 'EB Garamond';
    background-color:  #222831;
    color:#EEEEEE;
    stroke:#EEEEEE !important;
}

p{
    font-size: large;
}

h3{
    font-size: larger;
}

h2{
    font-size: x-large;
}

h1{
    font-size: xx-large;
}

#editor{
    height: 90%;
}

#dropbox-synced{
    display:none
}

.doc {
    cursor: pointer;
}